-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: autos

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

a

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 16%;
+
3

estileeie deal a ie
-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 160%;
y
5

estileeie deal a ie
-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 16%;
y
5

estileeie deal a ie
-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 160%;
y
5

estileeie deal a ie
-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 16%;
y
5

estileeie deal a ie
-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 16%;
y
5

estileeie deal a ie
-row_four-2 {
height: 91@px;
background-image: url(. . /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

+

a

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 160%;
y
3

estileeie deal a ie
background-image: url(.. /public/images/img_group_13.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

y

+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;
Hi
a

-column-5 {
width: 42%;
@nedia only screen and (max-width: 105@px) {

width: 160%;
y

y

-columnx_one-1 {
gap: var(--space-6x1);
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;
y
+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;
y
+

-column-5 {
width: 42%;
@nedia only screen and (max-width: 105@px) {

width: 160%;
+

y

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_90@_03);
+

-row_three-2 {
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

Bf

i

-column-5 {
width: 42%;
@nedia only screen and (max-width: 105@px) {
width: 160%;
H
+

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray 90003);
flex-direction: column;
align-items: centers
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray 800):
Pome 2 4
height: 91@px;
background-image: url(.. /public/images/img_group_8.png);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px) {
height: auto;

i

i

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 160%;
H]
+

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_900_03)3
flex-direction: column;
align-items: centers
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray_80@);
background-size: cover;
background-repeat: no-repeat;
@nedia only screen and (max-width: 105@px)
height: auto;
Hy
+

-column-5 {
width: 42%;
@nedia only screen and (max-width: 105@px)
width: 160%;
+

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_900_03);
flex-direction: column;
align-items: center;
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray_808);

-columncursors {
margin-top: -12px;

eee ee eee i
cute Undy Ser ceH anu \man-wauen. Ausupay 1

height: auto;

ip

+

-column-5 {
width: 42%;

@nedia only screen and (max-width: 105@px) {
width: 160%;
+
+

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_900_03);
flex-direction: column;
align-items: center;
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray_800);

-columncursors {
margin-top: -12px;
position: relatives
display: flex;
flex-direction: column;
-column-5 {
width: 42%;
@nedia only screen and (max-width: 105@px)
width: 160%;
+
ue

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_900_03);
flex-direction: column;
align-items: centers
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray_808);

-columncursors {
margin-top: -12px;
relatives
Flex;
flex-direction: column;
align-items: flex-end;
width: 42%;
@nedia only screen and (max-width: 105@px)
width: 160%;
+
+

-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_900_03);
flex-direction: column;
align-items: centers
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray_8@8);

-columncursors {
margin-top: ~12px;
position: relatives
display: flex;
flex-direction: column;
align-items: flex-end;

-cursors_one-3 {
height: 26px;
-columnx_one-1 {
gap: var(--space-6x1);
display: flex;
background-color: var(--gray_900_03);
flex-direction: column;
align-items: center;
padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray_8@0);

-columncursors {
margin-top: ~12px;
position: relatives
display: flex;
flex-direction: column;
align-items: flex-end;

-cursors_one-3 {
height: 26px;
margin-right
z-index: 15
position: relatives
@media only screen and (max-width: 105@px)

26px3
flex-direction: column;
align-items: center;

padding: var(--space-4x1);
border-radius: var(--radius-5x1);
border: 1px solid var(--gray 808);

-columncursors {
margin-top: -12px;
position: relatives
display: flex;
flex-direction: column;
align-items: flex-end;

-cursors_one-3 {
height: 26px;
margin-right: 2px;
z-index: 15
position: relatives
@nedia only screen and (max-width: 105@px)
margin-right: @px;

+

+

-name-1 {
color: var(--gray 5@) !important;
latahner’ wr kaise) Eee
aiign-items: center;
padding: var(--space-4x1);

border-radius: var(--radius-5x1);
border: 1px solid var(--gray_800);

-columncursors {
margin-top: -12px;
position: relatives
display: flex;
flex-direction: column;
align-items: flex-end;

-cursors_one-3 {
height: 26px;
margin-right: 26px;
z-index: 15
position: relatives
@nedia only screen and (max-width: 105@px)
margin-right: @px;

+

p

-name-1 {
color: var(--gray_5@) !important;
margin-top: ~12px;
padding-left: var(--space-x1);
border: 1px solid var(--gray 800);
+

-columncursors {
margin-top: -12px;
relative;
Flex;
flex-direction: column;
align-items: flex-end;

-cursors_one-3 {
height: 26px;
margin-right: 26px;
z-index: 15
position: relatives
@nedia only screen and (max-width: 105@px) {
margin-right: @px;

u

p

-name-1 {
color: var(--gray_5@) !important;
margin-top: -12px;

padding-left: var(--space-x1);
padding-right: var(--space-x1);
font-size: 14px;
flex-direction: column;
align-items: flex-end;

+

-cursors_one-3 {
height: 26px;
margin-right
z-indes
position: relatives
@nedia only screen and (max-width: 105@px) {

margin-right: @px;

26px3,

+

+

-name-1 {
color: var(--gray_5@) !important;
margin-top: -12px;

padding-left: var(--space-x1);
padding-right: var(--space-x1);
4px;

: relative;
var(--gray_108);
background-color: var(--gray_900_@4)
align-self: stretch;

height: 36px;

border-radius: 4px !importants

important;
-cursors_one-3 {
height: 26px;
margin-right: 2px;
z-indes
position: relatives
@nedia only screen and (max-width: 105@px) {

margin-right: @px;

+

y

-name-1 {
color: var(--gray_5@) !important;
margin-top: -12px;
padding-left: var(--space-x1);
padding-right: var(--space-x1);
font-size: 14px;
position: relatives
border-color: var(--gray_100)5
background-color: var(--gray_960_04) !important;
align-self: stretch;
height: 36px;
border-radius: 4px !importants

+

-create_an {
color: var(--white_a7@0) important;
padding-left: var(--space-4x1);
its g dae lUnhaecenare aut)
position: relatives
@nedia only screen and (max-width: 105@px) {
margin-right: @px;

+

+

-name-1 {
color: var(--gray_5@) !important;
margin-top: -12px;
padding-left: var(--space-x1);
padding-right: var(--space-x1);
font-size: 14px;
position: relatives
border-color: var(--gray_1¢2)5
background-color: var(--gray_960_04) !important;
align-self: stretch;
height: 36px;
border-radius: 4px importants

y

-create_an {
color: var(--white_27e0) !important;
padding-left: var(--space-4x1);
-space-4x1);

font-weight: 600;
background-color: var(--gray_9¢0_02) !important;
margin-right: @px;

+

i

name-1 {

color: var(--gray_5@) !important;
margi ~12px;

padding-left: var(--space-x1);
padding-right: var(--space-x1);
font-size: 14px;

: relative;
var(--gray_108);
background-color: var(--gray_900_64)
align-self: stretch;

height: 36px;

border-radius: 4px importants

-create_an {
color: var(--white_2700) !important;
padding-left: var(--space-4x1);
padding-right: var(--space-4x1);
font-size: 14px;
font-weight: 600;
background-color: var(--gray_900_02)
height: 38px;
min-width: 16@px;
ienie! reok* Anis i Sieeetunt

Himportant;

Himportant;
pauusg-rague. var (--spece-At)y
font-size: 14px;

position: relatives

border-color: var(--gray_1¢0)5
background-color: var(--gray_9¢0_04) !important;
align-self: stretch;

height: 36px;

border-radius: 4px important;

-create_an {

color: var(--white_2700) !important;
padding-left: var(--space-4x1);
-space-4x1) 5

font-weight: 600;
background-color: var(--gray_900_@2)
height: 38px;

important;

min-widt!

160px;
border-radius: 4px !important;
align-self: stretch;
height: 36px;
border-radius: 4px importants

+

-create_an {
color: var(--white_a700) important;
padding-left: var(--space-4x1);
padding-right: var(--space-4x1);
font-size: 14px;
font-weight: 600;
background-color: var(--gray_900_@2)
height: 38px;
min-width: 16@px;
border-radius: 4px !importants

important;
@lign-seiT: SUreccils
height: 36px;
border-radius: 4px !important;

+

-create_an {
color: var(--white_a700) important;
padding-left: var(--space-4x1);
padding-right: var(--space-4x1);
font-size: 14px;
font-weight: 600;

background-color: var(--gray_9¢0_02) !

height: 38px;
min-width: 16@px;
border-radius: 4px !importants

important;
@lign-seir: SUreccils
height: 36px;
border-radius: 4px !important;

+

-create_an {
color: var(--white_a700) important;
padding-left: var(--space-4x1);
padding-right: var(--space-4x1);
font-size: 14px;
font-weight: 600;

background-color: var(--gray_9¢0_02) !

height: 38px;
min-width: 169px;
border-radius: 4px !importants

important;
@lign-seir: SUreccils
height: 36px;
border-radius: 4px !important;

+

-create_an {
color: var(--white_a700) important;
padding-left: var(--space-4x1);
padding-right: var(--space-4x1);
font-size: 14px;
font-weight: 600;

background-color: var(--gray_9¢0_02) !

height: 38px;
min-width: 169px;
border-radius: 4px importants

important;
@lign-seir: SUreccils
height: 36px;
border-radius: 4px !important;

+

-create_an {
color: var(--white_a700) important;
padding-left: var(--space-4x1);
padding-right: var(--space-4x1);
font-size: 14px;
font-weight: 600;

background-color: var(--gray_9¢0_02) !

height: 38px;
min-width: 169px;
border-radius: 4px importants

important;
